<!--<h1>Main page</h1>
   <a routerLink="/main">Main</a>
   <a routerLink="/new">New</a>
   <hr>-->
<!--<div class="portlet light bordered">

  <div class="portlet-title">
      <div class="caption">
          <i class="icon-share font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">Member list</span>
      </div>
      <div class="actions">
          <a class="btn btn-circle btn-icon-only btn-default" routerLink="/main">
              <i class="icon-home"></i>
          </a>
          <a class="btn btn-circle btn-icon-only green" routerLink="/charts">
              <i class="icon-bar-chart"></i>
          </a>
          <a class="btn btn-circle btn-icon-only green" routerLink="/new">
              <i class="icon-plus"></i>
          </a>
      </div>
  </div>
  <div class="portlet-body">
   <router-outlet></router-outlet>
  </div>
</div>-->

<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li>
                    <a class="nav-link " routerLink="/main">
                        <i class="icon-graph"></i>
                        <span class="title">Employee</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link " routerLink="/charts">
                        <i class="icon-graph"></i>
                        <span class="title">Chart</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>