<!--<h1>Main page</h1>
   <a routerLink="/main">Main</a>
   <a routerLink="/new">New</a>
   <hr>-->
<!--<div class="portlet light bordered">

  <div class="portlet-title">
      <div class="caption">
          <i class="icon-share font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">Member list</span>
      </div>
      <div class="actions">
          <a class="btn btn-circle btn-icon-only btn-default" routerLink="/main">
              <i class="icon-home"></i>
          </a>
          <a class="btn btn-circle btn-icon-only green" routerLink="/new">
              <i class="icon-plus"></i>
          </a>
      </div>
  </div>
  <div class="portlet-body">
   <router-outlet></router-outlet>
  </div>
</div>-->

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark" style="cursor:pointer" routerLink="/main">
            <i class="icon-layers font-dark"></i>
            <span class="caption-subject bold uppercase"> Employee List</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button class="btn btn-transparent dark btn-outline btn-circle btn-sm" routerLink="/new"> <i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <router-outlet></router-outlet>
    </div>
</div>