<div class="form-body">
    <div class="form-group form-md-line-input">
        <input type="text" class="form-control" [(ngModel)]="username" disabled>
        <label for="form_control_1">Username</label>
        <!--<span class="help-block">Some help goes here...</span>-->
    </div>
    <div class="form-group form-md-line-input">
        <input type="text" class="form-control" [(ngModel)]="fullname">
        <label for="form_control_1">Fullname</label>
        <!--<span class="help-block">Some help goes here...</span>-->
    </div>

  <div class="form-actions noborder">
      <button type="button" class="btn blue" (click)="save()" [disabled]="!username || !fullname">Save</button>
      <button type="button" class="btn default" routerLink="/main">Cancel</button>
  </div>

</div>